.footer {
    background-color: #0d6efd;
    color: #fff;
    border-radius: 8px;
}

.items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.5rem;
}

.links {
    list-style: none;
    text-align: center;
}

.links a {
    color: #fff;
    text-decoration: none;
}

ul {
    padding-left: 0;
}

ul h2 {
    text-decoration: underline;
    font-family: PlayFair Display;
    font-size: 1.5rem;
}