<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/inicio']">Library</a>
    <form class="d-flex">
      <input class="form-control me-sm-2" type="search" placeholder="Ingrese Título" [(ngModel)]="tituloBusqueda" name="tituloBusqueda" (keyup.enter)="buscarLibros()">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit" (click)="buscarLibros()" >Buscar</button>
    </form>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Filtrar</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/inicio/filtro','Horror']" href="#">Horror</a>
          <a class="dropdown-item" [routerLink]="['/inicio/filtro','Fantasía']" href="#">Fantasía</a>
          <a class="dropdown-item" [routerLink]="['/inicio/filtro','Ciencia Ficción']" href="#">Ciencia Ficcion</a>
          <a class="dropdown-item" [routerLink]="['/inicio/filtro','Drama']" href="#">Drama</a>
          <a class="dropdown-item" [routerLink]="['/inicio/filtro','Suspenso']" href="#">Suspenso</a>
          <a class="dropdown-item" [routerLink]="['/inicio/filtro','Policial']" href="#">Policial</a>
          <a class="dropdown-item" [routerLink]="['/inicio/filtro','Paranormal']" href="#">Paranormal</a>
          <a class="dropdown-item" [routerLink]="['/inicio/filtro','Poesía']" href="#">Poesía</a>
        </div>
      </li>
      <li class="nav-item mt-2" *ngIf="!isAdmin()">
        <button class="fa-solid fa-cart-shopping nav-btn" [routerLink]="['/inicio/carrito']"></button>
      </li>
      <li class="nav-item mt-2">
        <button class="fa-solid fa-book nav-btn" [routerLink]="['/inicio/libros']"></button>
      </li>
      <li class="nav-item mt-2" *ngIf="isAdmin()">
        <button class="fa-solid fa-clipboard-check nav-btn" [routerLink]="['/inicio/ventas']"></button>
      </li>
      <li class="nav-item mt-2" *ngIf="!isAdmin()">
        <button class="fa-solid fa-heart nav-btn" [routerLink]="['/inicio/favoritos']"></button>
      </li>
      <li class="nav-item mt-2" *ngIf="isAdmin()">
        <button class="fa-solid fa-users nav-btn" [routerLink]="['/inicio/usuarios']"></button>
      </li>
      <li class="nav-item mt-2" *ngIf="!isAdmin()">
        <button class="fa-solid fa-clock-rotate-left nav-btn" [routerLink]="['/inicio/historial']"></button>
      </li>
      <li class="nav-item mt-2" *ngIf="isAdmin()">
        <button class="fa-solid fa-book-medical nav-btn" [routerLink]="['inicio/agregarLibro']"></button>
      </li>
      <li class="nav-item mt-2" *ngIf="!isLoggedIn()">
        <button class="fa-solid fa-user nav-btn" [routerLink]="['/login']"></button>
      </li>
      <li class="nav-item mt-2" *ngIf="isLoggedIn()">
        <button class="fa-solid fa-right-from-bracket nav-btn" [routerLink]="['/inicio']" (click)="logOut()"></button>
      </li>
    </ul>
  </div>
</nav>
