<body class="hold-transition register-page">
  <div class="register-box">
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a href="/" class="h1"><b>Library</b>System</a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Registro de nuevo miembro</p>

        <form action="/" [formGroup]="registerForm">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Nombre" formControlName="name">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>

          <div class="input-group mt-3">
            <input type="text" class="form-control" placeholder="Apellido" formControlName="surname">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>

          <div class="input-group mt-3">
            <input type="email" class="form-control" placeholder="Correo Electronico" formControlName="email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <span *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched">
            Es necesario completar el email!
          </span>
          <span *ngIf="registerForm.get('email')?.hasError('email') && registerForm.get('email')?.touched">
            Utilice un correo valido!
          </span>
          <span *ngIf="emailEnUso">
            El email está en uso!
          </span>

          <div class="input-group mt-3">
            <input type="password" class="form-control" placeholder="Contraseña" formControlName="password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <span *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched">
            Es necesario completar la contraseña!
          </span>
          <span *ngIf="registerForm.get('password')?.hasError('minlength') && registerForm.get('password')?.touched || 
            registerForm.get('password')?.hasError('maxlength') && registerForm.get('password')?.touched">
            Utiliza entre 8 y 24 caracteres.
          </span>

          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input class="mr-1" type="checkbox" name="terms" value="agree">
                <label for="agreeTerms">
                  Acepto los <a href="#">Terminos</a>
                </label>
              </div>
            </div>
            <div class="col-12">
              <button type="submit" [disabled]="registerForm.invalid || emailEnUso" class="btn btn-primary btn-block" [routerLink]="['/inicio/login']"
                (click)="addToUsersList()">Registrarme</button>
            </div>
          </div>
        </form>
        <a [routerLink]="['/inicio/login']" class="text-center">Ya estoy registrado!</a>
      </div>
    </div>
  </div>

  <!-- jQuery -->
  <script src="../../plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE App -->
  <script src="../../dist/js/adminlte.min.js"></script>
</body>