<section class="product">
  <h2>Los más populares</h2>
    <div class="slider-wrap">
      <div class="slider-main">
        <div class="item" (click)="verInformacionDetallada(listaLibros[0].idLibro)">
          <div class="text" >
            <img src="{{listaLibros[0].portada}}">
            <div><h3>{{listaLibros[0].titulo}}</h3></div>
            <div><p><strong>{{listaLibros[0].autor}}</strong></p></div>
            <div><h1>{{listaLibros[0].precio}}</h1></div>
          </div>
        </div>
        <div class="item" (click)="verInformacionDetallada(listaLibros[1].idLibro)">
          <div class="text">
            <img src="{{listaLibros[1].portada}}">
            <div><h3>{{listaLibros[1].titulo}}</h3></div>
            <div><p><strong>{{listaLibros[1].autor}}</strong></p></div>
            <div><h1>{{listaLibros[1].precio}}</h1></div>
          </div>
        </div>
        <div class="item" (click)="verInformacionDetallada(listaLibros[2].idLibro)">
          <div class="text">
            <img src="{{listaLibros[2].portada}}">
            <div><h3>{{listaLibros[2].titulo}}</h3></div>
            <div><p><strong>{{listaLibros[2].autor}}</strong></p></div>
            <div><h1>{{listaLibros[2].precio}}</h1></div>
          </div>
        </div>
        <div class="item" (click)="verInformacionDetallada(listaLibros[3].idLibro)">
          <div class="text">
            <img src="{{listaLibros[3].portada}}">
            <div><h3>{{listaLibros[3].titulo}}</h3></div>
            <div><p><strong>{{listaLibros[3].autor}}</strong></p></div>
            <div><h1>{{listaLibros[3].precio}}</h1></div>
          </div>
        </div>
        <div class="item" (click)="verInformacionDetallada(listaLibros[4].idLibro)">
          <div class="text">
            <img src="{{listaLibros[4].portada}}">
            <div><h3>{{listaLibros[4].titulo}}</h3></div>
            <div><p><strong>{{listaLibros[4].autor}}</strong></p></div>
            <div><h1>{{listaLibros[4].precio}}</h1></div>
          </div>
        </div>
        <div class="item" (click)="verInformacionDetallada(listaLibros[5].idLibro)">
          <div class="text">
            <img src="{{listaLibros[5].portada}}">
            <div><h3>{{listaLibros[5].titulo}}</h3></div>
            <div><p><strong>{{listaLibros[5].autor}}</strong></p></div>
            <div><h1>{{listaLibros[5].precio}}</h1></div>
          </div>
        </div>
        <div class="item" (click)="verInformacionDetallada(listaLibros[6].idLibro)">
          <div class="text">
            <img src="{{listaLibros[6].portada}}">
            <h3>{{listaLibros[6].titulo}}</h3>
            <p><strong>{{listaLibros[6].autor}}</strong></p>
            <h1>{{listaLibros[6].precio}}</h1>
          </div>
        </div>
      </div>
      <div class="button-area">
        <i class="fa-solid fa-angle-left prev" appPrev></i>
        <i class="fa-solid fa-angle-right next" appNext></i>
      </div>
    </div>
</section>

<div class="categorias">
  <h2>Ya sabes que vas a leer hoy?</h2>
  <div class="row">
    <div class="col-md-3 text-center">
      <a [routerLink]="['/inicio/filtro','Fantasía']">
        <img src="https://cdn-icons-png.flaticon.com/512/2368/2368498.png" alt="Fantasía" class="img-fluid img-hover">
        <h3>Fantasía</h3>
      </a>
    </div>
    <div class="col-md-3 text-center">
      <a [routerLink]="['/inicio/filtro','Ciencia Ficción']">
        <img src="https://cdn-icons-png.flaticon.com/512/4114/4114764.png" alt="Ciencia Ficción" class="img-fluid img-hover">
        <h3>Ciencia Ficción</h3>
      </a>
    </div>
    <div class="col-md-3 text-center">
      <a [routerLink]="['/inicio/filtro','Horror']">
        <img src="https://cdn-icons-png.flaticon.com/512/3773/3773795.png" alt="Horror" class="img-fluid img-hover">
        <h3>Horror</h3>
      </a>
    </div>
    <div class="col-md-3 text-center">
      <a [routerLink]="['/inicio/filtro','Suspenso']">
        <img src="https://cdn-icons-png.flaticon.com/512/1048/1048962.png" alt="Drama" class="img-fluid img-hover">
        <h3>Drama</h3>
      </a>
    </div>
  </div>
</div>