.div{
    display: flex;
    justify-content: center;
    padding: 70px;
    border: 2px solid #D4E6F1 ;
    border-radius: 20px;
    margin: 5px;
    background-color: #D6EAF8 ;
    margin-bottom: 50px;
}

.categorias img{

    width: 250px;
    height: 250px;
}

.categorias{
    margin-bottom: 5rem;
}
.popular{
    margin-bottom: 1rem;
}
h2{
    text-align: center;
    margin-bottom: 3.5rem;
}
