.div{
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    padding: 70px;
    border: 2px solid #D4E6F1 ;
    border-radius: 20px;
    margin: 5px;
    background-color: #D6EAF8 ;
    margin-bottom: 50px;
}

.h2{
    text-align: center;
    margin-top: 10px;
    
}


