<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/inicio">Library</a>
    <form class="d-flex">
      <input class="form-control me-sm-2" type="search" placeholder="Ingrese Título">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
    </form>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Filtrar</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Horror</a>
          <a class="dropdown-item" href="#">Fantasía</a>
          <a class="dropdown-item" href="#">Ciencia Ficcion</a>
          <a class="dropdown-item" href="#">Drama</a>
          <a class="dropdown-item" href="#">Suspenso</a>
          <a class="dropdown-item" href="#">Policial</a>
          <a class="dropdown-item" href="#">Paranormal</a>
          <a class="dropdown-item" href="#">Poesía</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link"[routerLink]="['/inicio/carrito']">Carrito</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['/inicio/libros']">Libros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['/inicio/usuarios']">Usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/inicio']">Favoritos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/inicio/login']">Ingresar</a>
      </li>
      <li class="nav-item">
        <button class="btn btn-secondary" (click)="logOut()">Logout</button>
      </li>
    </ul>
  </div>
</nav>
