<body class="hold-transition">
  <div class="content-box" *ngIf="listaVentas.length > 0">
    <section class="content-header d-flex justify-content-center align-items-center">
      <h1 class="title">Ventas Realizadas</h1>
    </section>

    <section class="content">
      <div class="card">
        <div class="card-body">
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th class="th">ID Venta</th>
              <th class="th">ID Cliente</th>
              <th class="th">Fecha</th>
              <th class="th">Total: $</th>
              <th class="th">Estado</th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let venta of listaVentas">
                <td class="td">{{ venta.idVenta }}</td>
                <td class="td">{{ venta.idCliente }}</td>
                <td class="td">{{ venta.fechaCompra | date:'yyyy-MM-dd' }}</td>
                <td class="td">{{ venta.total | currency }}</td>
                <td class="td">{{ venta.estado }}</td>
                <td class="td">
                  <button class="btn btn-success mr-1" (click)="cambiarEstadoVenta(venta.idVenta, 'CONFIRMADA')" *ngIf="!yaConfirmada(venta.idVenta) && !yaRechazada(venta.idVenta)">Confirmar</button>
                  <button class="btn btn-danger ml-1" (click)="cambiarEstadoVenta(venta.idVenta, 'RECHAZADA')" *ngIf="!yaConfirmada(venta.idVenta) && !yaRechazada(venta.idVenta)">Rechazar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
  <div *ngIf="listaVentas.length === 0" class="warning">
    <h1>Aun no se han realizado ventas.</h1>
  </div>
</body>


