<body>
  <div class="container mt-4 separador">
    <h1 class="text-center">Lista de Ventas</h1>
  
    <table class="table border border-3">
      <thead>
        <tr>
          <th>ID Venta</th>
          <th>ID Usuario</th>
          <th>Fecha</th>
          <th>Total</th>
          <th>Estado</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let venta of listaVentas">
          <td>{{ venta.idVenta }}</td>
          <td>{{ venta.idUsuario }}</td>
          <td>{{ venta.fechaCompra | date:'yyyy-MM-dd' }}</td>
          <td>{{ venta.total | currency }}</td>
          <td>{{ venta.estado }}</td>
          <td>
            <button class="btn btn-success mr-1" (click)="confirmarCompra(venta.idVenta)" *ngIf="!yaConfirmada(venta.idVenta) && !yaRechazada(venta.idVenta)">Confirmar</button>
            <button class="btn btn-danger ml-1" (click)="rechazarCompra(venta.idVenta)" *ngIf="!yaConfirmada(venta.idVenta) && !yaRechazada(venta.idVenta)">Rechazar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>


