<footer class="page-footer">
    <div class="footer content">
        <div class="widget block block-static-block">
            <div class="footer-links-container">
                <ul class="links">
                    <li>
                        <h2>SUCURSALES</h2>
                    </li>
                    <li>San Juan 455</li>
                    <li>Primera Junta 1389</li>
                    <li>Juan B. Justo 238</li>
                    <li>Guemes 1920</li>
                    <li>J. Peralta Ramos 2340</li>
                    <li>Constitución 3399</li>
                </ul>
    
                <ul class="links">
                    <li>
                        <h2>¿QUIENES SOMOS?</h2>
                    </li>
                    <li><a href="http://www.linkedin.com/in/zeus-testa">Zeus Testa</a></li>
                    <li><a href="https://www.linkedin.com/in/lucas-mena-701805276/">Lucas Mena</a></li>
                </ul>

                <ul class="links">
                    <li>
                        <h2>INFORMACION</h2>
                    </li>
                    <li><a href="#">Preguntas frecuentes</a></li>
                    <li><a href="#">Métodos de pago</a></li>
                    <li><a href="#">Cambios y devolución</a></li>
                    <li><a href="#">Política de privacidad</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="custom-copyright">
        <div class="contenido">
            <div class="span">
                <span>© 2023 LibrarySystem. </span>
            </div>
        </div>
    </div>

</footer>