.page-footer {
    background-color: #476aac;
    color: #fff;
    padding-bottom: 0;
    bottom: 0;
}

.footer.content .block {
    float: none;
    margin-top: 0;
}

.footer-links-container {
    display: flex;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}

.footer.content .links {
    margin-top: 20px;
    padding-right: 0;
}

.footer.content .links>li {
    background: 0 0;
    border-top: 0;
    font-size: 15px;
    margin-bottom: 3px;
    list-style: none;
}

.footer.content .links h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0.5em;
    margin-top: 0;
    text-transform: uppercase;
}

.footer.content .links a, .footer.content .links a:hover, .footer.content .links a:visited {
    color: #fff;
    text-decoration: none;
    padding: 5px 0;
}

.navigation, .breadcrumbs, .page-header .header.panel, .header.content, .footer.content, .page-wrapper>.widget, .block.category.event, .top-container, .page-main {
    max-width: 1290px;
    padding-left: 20px;
    padding-right: 20px;
}

* {
    box-sizing: border-box;
}

.custom-copyright {
    padding-bottom: 10px;
    margin-left: 4px;
}

a, .alink {
    color: #006bb4;
    text-decoration: none;
}
