<div class="div">
  <app-spinner *ngIf="loading"></app-spinner>
  <div class="cards" *ngIf="!loading">
    <div *ngFor="let libro of listaLibros" class="card">
      <img class="img" src='{{libro.portada}}' alt="imagen">
      <h5 class="h5">{{libro.titulo}}</h5>
      <h6>{{libro.autor}}</h6>
      <br>
      <div class="genero">
        <p class="text">{{libro.precio | currency}}</p>
      </div>
      <div class="d-flex flex-column align-items-center">
        <button class="boton" (click)="addToCart(libro.idLibro)">Agregar al Carrito</button>
        <button class="boton" (click)="verInformacionDetallada(libro.idLibro)">Ver detalles</button>
      </div>      
    </div>
  </div>
</div>
<div *ngIf="listaLibros.length === 0" class="warning">
  <p>No hay libros disponibles.</p>
</div>
<div class="container d-flex justify-content-between" *ngIf="!loading">
  <button class="btn btn-outline-primary" (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
  <span>{{currentPage}}</span>
  <button class="btn btn-outline-primary" (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= allLibros.length">Siguiente</button>
</div>
