<div class="div">
  <div class="cards">
    <div *ngFor="let libro of listaLibros" class="card">
      <img class="img" src='{{libro.portada}}' alt="imagen">
      <h5 class="h5" type="button" (click)="verInformacionDetallada(libro.idLibro)">{{libro.titulo}}</h5>
      <h6>{{libro.autor}}</h6>
      <br>
      <div class="genero">
        <p class="text">${{libro.precio}}</p>
      </div>
      <div class="">
        <button class="btn btn-primary" (click)="addToCart(libro)">Agregar al Carrito</button>
      </div>
    </div>
  </div>
</div>