ARREGLAR CARD, QUE IMAGEN Y H2 ENVIEN A CARD DETAIL Y AGREGAR BARRA DE FILTRADO LATERAL O ARRIBA 

<div class="div">
  <div class="cards">
    <div *ngFor="let libro of listaLibros" class="card">
      <img class="img" src='{{libro.portada}}' alt="imagen">
      <h5 class="h5">{{libro.titulo}}</h5>
      <!--FALTA MUESTRA DE AUTOR-->
      <div class="genero">
        <p class="text">${{libro.precio}}</p>
      </div>
      <br>
      <div class="">
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
</div>