<body class="hold-transition sidebar-mini">
  <div>    
    <div>
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Lista de Favoritos</h1>
            </div>
          </div>
        </div>
      </section>
  
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Elimine o Agregue al carrito a sus libros favoritos</h3>
                </div>
                <div class="card-body">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                      <th class="th">Título</th>
                      <th class="th">Eliminar</th>
                      <th class="th">Añadir al Carrito</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let titulo of arrayTitulosFavs">
                      <td class="td">{{titulo}}</td>
                      <td class="td"><i type="button" class="fa-solid fa-trash" (click)="eliminarDeFavs(titulo)" style="color: #e00606;"></i></td>
                      <td class="td"><i type="button" class="fa-solid fa-cart-shopping" (click)="agregarACarrito(titulo)"></i></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>   
</body>
