<!-- <div class="accordion" >
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Favoritos
      </button>
    </h2>
    <div class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" *ngFor="let libFav of arrayTitulosFavs">
      <div class="accordion-body">
        <strong>{{ libFav }}</strong>
      </div>
    </div>
  </div>
</div> -->

<ul>
  <li *ngFor="let titulo of arrayTitulosFavs">
    {{ titulo }}
  </li>
</ul>
