<body>
  <div class="container mt-4 separador">
    <h1 class="text-center">Historial de Compras</h1>
  
    <table class="table border border-3">
      <thead>
        <tr>
          <th>Titulo</th>
          <th>Autor</th>
          <th>Fecha de Compra</th>
          <th>Total</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let compra of historial">
          <td>{{ compra.titulo }}</td>
          <td>{{ compra.autor }}</td>
          <td>{{ compra.fechaCompra | date:'yyyy-MM-dd' }}</td>
          <td>{{ compra.precio | currency }}</td>
          <td>{{ compra.estado }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>