<body class="hold-transition sidebar-mini">
    <div class="">  
      <div class="">
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="h1"><b>Library</b>System</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a [routerLink]="['/inicio/inicio']">Home</a></li>
                  <li class="breadcrumb-item active"><a [routerLink]="['/inicio/libros']">Lista de Libros</a></li>
                </ol>
              </div>
            </div>
          </div>
        </section>

        <section class="content">
          <div class="card card-solid">
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-sm-6">
                  <h3 class="d-inline-block d-sm-none">LOWA Men’s Renegade GTX Mid Hiking Boots Review</h3>
                  <div class="col-12">
                    <img src="{{ libro?.portada }}" class="product-image" alt="PORTADA DE LIBRO">
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <h2 class="my-3">Autor: {{ libro?.autor }}</h2>
                  <h3 class="my-3">Genero: {{ libro?.genero }} </h3>
                  <h5 class="my-3">Stock: {{ libro?.stock }} </h5>
                  <hr>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum corporis nulla error asperiores vel. 
                    Qui quis odit natus, aspernatur obcaecati, nesciunt delectus odio quaerat quidem molestias labore quod, reprehenderit amet!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, qui accusantium sit voluptatibus a nam asperiores enim, animi 
                    porro natus cumque perspiciatis reiciendis fuga molestias itaque aspernatur temporibus fugit ratione.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore totam, veritatis placeat quis ipsum dolorum libero sint neque architecto 
                    culpa voluptatem molestiae distinctio, molestias, delectus non eligendi unde quae illum.</p>
                  <hr>
    
                  <div class="bg-gray py-2 px-3 mt-4">
                    <h2 class="mb-0">
                      {{libro?.precio | currency}}
                    </h2>
                    <h4 class="mt-0">
                      <small>Valor Final: {{libro?.precio | currency}}</small>
                    </h4>
                  </div>
    
                  <div class="mt-4">
                    <div class="btn btn-primary btn-lg btn-flat">
                      <i class="fas fa-cart-plus fa-lg mr-2"></i>
                      <button class="btn btn-primary" type="submit" (click)="addToCart(libro!)">
                        AGREGAR AL CARRITO
                      </button>
                    </div>
    
                    <div class="ml-2 btn btn-secondary btn-lg btn-flat">
                      <i class="fas fa-heart fa-lg mr-2"></i>
                      <button class="btn btn-secondary" type="submit" (click)="addToFavs(libro!)">
                        AGREGAR A FAVORITOS
                      </button>
                    </div>
                  </div>
    
                  <div class="mt-4 product-share">
                    <a href="https://www.facebook.com/" class="text-gray">
                      <i class="fab fa-facebook-square fa-2x"></i>
                    </a>
                    <a href="https://twitter.com/" class="text-gray">
                      <i class="fab fa-twitter-square fa-2x"></i>
                    </a>
                    <a href="https://www.gmail.com/" class="text-gray">
                      <i class="fas fa-envelope-square fa-2x"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
</body>
