<body class="hold-transition login-page">
  <div class="login-box">
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a href="../../index2.html" class="h1"><b>Library</b>System</a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Complete los datos para iniciar sesión</p>
  
        <form action="/" [formGroup]="loginForm">
          <div class="input-group ">
            <input type="email" class="form-control" placeholder="Correo Electronico" formControlName="email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <span *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">Es necesario completar el email!</span>
          <span *ngIf="loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched">Utiliza un email válido!</span>
          <div class="input-group mt-3">
            <input type="password" class="form-control" placeholder="Contraseña" formControlName="password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <span *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">Es necesario completar la contraseña!</span>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="remember" class="mr-1">
                <label for="remember">
                  Recuerdame
                </label>
              </div>
            </div>
            <div class="col-12">
              <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary btn-block" (click)="signIn()">Iniciar Sesión</button>
            </div>
          </div>
        </form>
        <p class="mb-0">
          <a [routerLink]="['/register']" class="text-center">Crear una cuenta nueva</a>
        </p>
      </div>
    </div>
  </div>

  <!-- jQuery -->
  <script src="../../plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE App -->
  <script src="../../dist/js/adminlte.min.js"></script>
  </body>