<body class="hold-transition sidebar-mini">
    <div>    
      <div>
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Lista de Usuarios</h1>
              </div>
            </div>
          </div>
        </section>
    
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Administradores y Clientes de la Libreria</h3>
                  </div>
                  <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                      <thead>
                      <tr>
                        <th class="th">Nombre</th>
                        <th class="th">Apellido</th>
                        <th class="th">Correo Electronico</th>
                        <th class="th">Tipo de Usuario</th>
                        <th class="th">Modificar</th>
                        <th class="th">Eliminar</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let usuario of listaUsuarios">
                        <td class="td">{{usuario.nombre}}</td>
                        <td class="td">{{usuario.apellido}}</td>
                        <td class="td">{{usuario.email}}</td>
                        <td class="td">Cliente</td>
                        <td class="td"><i class="fa-solid fa-pencil" style="color: #efe70b;"></i></td>
                        <td class="td"><i class="fa-solid fa-trash" style="color: #e00606;"></i></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>   
</body>
