<body class="hold-transition sidebar-mini">
  <div>    
    <div>
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Carrito de Compras</h1>
            </div>
          </div>
        </div>
      </section>
  
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Elimine o Encargue sus libros agregados al carrito</h3>
                </div>
                <div class="card-body">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                      <th class="th">Título</th>
                      <th class="th">Autor</th>
                      <th class="th">Genero</th>
                      <th class="th">Precio</th>
                      <th class="th">Eliminar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let libro of carritoActual">
                      <td class="td">{{ libro.titulo }}</td>
                      <td class="td">{{ libro.autor }}</td>
                      <td class="td">{{ libro.genero }}</td>
                      <td class="td">${{ libro.precio }}</td>
                      <td class="td"><i type="button" class="fa-solid fa-trash" (click)="eliminarDeCarrito(libro.idLibro)" style="color: #e00606;"></i></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-secondary" type="button" (click)="comprarCarrito()">Encargar</button>
        </div>
      </section>
    </div>
  </div>  

</body>

